body{
    background-color: #87B6BC;
}
.firsth1{
    color: #5A2D82;
    text-align: center;
    background-color: #FFF8F0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.firsth2{
    text-align: center;
    color: #4B2E5E;
    background-color: #FFF8F0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.firsth3{
    color: #5A2D82;
    background-color: #FFF8F0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.aboutyoga{
    color: #5A2D82;
    background-color: #FFF8F0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

@media (max-width:680px){

body{
padding:15px;
text-align:center;
}

img{
width:100%;
height:auto;
}

.aboutyoga{
width:100%;
}

.firsth{
font-size:28px;
}

.firsth2{
font-size:20px;
}

ul{
padding-left:20px;
}

}